body {
	padding-top: 70px;
	padding-bottom: 20px;
}

table {
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-family: 'Ubuntu', sans-serif;
}

h1	{
	font-family: 'Oswald', sans-serif;
}

h3 {
	font-family: 'Oswald', sans-serif;
}

caption {
	font-family: 'Oswald', sans-serif;
}