body {
	padding-top: 70px;
	padding-bottom: 20px;
}

table {
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-family: 'Ubuntu', sans-serif;
}

h1	{
	font-family: 'Oswald', sans-serif;
}

h3 {
	font-family: 'Oswald', sans-serif;
}

caption {
	font-family: 'Oswald', sans-serif;
}

.table td {
   text-align: center;   
}

#loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  border: 0;